src/conf/xml-resources/web-service-references/SVR_PROVEEDORES/wsdl/localhost_8081/SOAPSOFT_S_PROVEEDORES/SVR_PROVEEDORES.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.soapsoft.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.soapsoft.com/" name="SVR_PROVEEDORES">
<types>
<xsd:schema>
<xsd:import namespace="http://services.soapsoft.com/" schemaLocation="http://localhost:8081/SOAPSOFT_S_PROVEEDORES/SVR_PROVEEDORES?xsd=1"/>
</xsd:schema>
</types>
<message name="fn_borrar_prove">
<part name="parameters" element="tns:fn_borrar_prove"/>
</message>
<message name="fn_borrar_proveResponse">
<part name="parameters" element="tns:fn_borrar_proveResponse"/>
</message>
<message name="fn_insertar_prove">
<part name="parameters" element="tns:fn_insertar_prove"/>
</message>
<message name="fn_insertar_proveResponse">
<part name="parameters" element="tns:fn_insertar_proveResponse"/>
</message>
<message name="fn_modificar_prove">
<part name="parameters" element="tns:fn_modificar_prove"/>
</message>
<message name="fn_modificar_proveResponse">
<part name="parameters" element="tns:fn_modificar_proveResponse"/>
</message>
<message name="fn_buscar_all_prove">
<part name="parameters" element="tns:fn_buscar_all_prove"/>
</message>
<message name="fn_buscar_all_proveResponse">
<part name="parameters" element="tns:fn_buscar_all_proveResponse"/>
</message>
<portType name="SVR_PROVEEDORES">
<operation name="fn_borrar_prove">
<input wsam:Action="http://services.soapsoft.com/SVR_PROVEEDORES/fn_borrar_proveRequest" message="tns:fn_borrar_prove"/>
<output wsam:Action="http://services.soapsoft.com/SVR_PROVEEDORES/fn_borrar_proveResponse" message="tns:fn_borrar_proveResponse"/>
</operation>
<operation name="fn_insertar_prove">
<input wsam:Action="http://services.soapsoft.com/SVR_PROVEEDORES/fn_insertar_proveRequest" message="tns:fn_insertar_prove"/>
<output wsam:Action="http://services.soapsoft.com/SVR_PROVEEDORES/fn_insertar_proveResponse" message="tns:fn_insertar_proveResponse"/>
</operation>
<operation name="fn_modificar_prove">
<input wsam:Action="http://services.soapsoft.com/SVR_PROVEEDORES/fn_modificar_proveRequest" message="tns:fn_modificar_prove"/>
<output wsam:Action="http://services.soapsoft.com/SVR_PROVEEDORES/fn_modificar_proveResponse" message="tns:fn_modificar_proveResponse"/>
</operation>
<operation name="fn_buscar_all_prove">
<input wsam:Action="http://services.soapsoft.com/SVR_PROVEEDORES/fn_buscar_all_proveRequest" message="tns:fn_buscar_all_prove"/>
<output wsam:Action="http://services.soapsoft.com/SVR_PROVEEDORES/fn_buscar_all_proveResponse" message="tns:fn_buscar_all_proveResponse"/>
</operation>
</portType>
<binding name="SVR_PROVEEDORESPortBinding" type="tns:SVR_PROVEEDORES">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fn_borrar_prove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_insertar_prove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_modificar_prove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_buscar_all_prove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SVR_PROVEEDORES">
<port name="SVR_PROVEEDORESPort" binding="tns:SVR_PROVEEDORESPortBinding">
<soap:address location="http://localhost:8081/SOAPSOFT_S_PROVEEDORES/SVR_PROVEEDORES"/>
</port>
</service>
</definitions>