src/conf/xml-resources/web-service-references/SRV_DETALLEFACTURAVENTA/wsdl/localhost_8081/SOAPSOFT_S_CLIENTES/SRV_DETALLEFACTURAVENTA.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.soapsoft.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.soapsoft.com/" name="SRV_DETALLEFACTURAVENTA">
<types>
<xsd:schema>
<xsd:import namespace="http://Service.soapsoft.com/" schemaLocation="http://localhost:8081/SOAPSOFT_S_CLIENTES/SRV_DETALLEFACTURAVENTA?xsd=1"/>
</xsd:schema>
</types>
<message name="fn_insertar_detalle_factura_venta">
<part name="parameters" element="tns:fn_insertar_detalle_factura_venta"/>
</message>
<message name="fn_insertar_detalle_factura_ventaResponse">
<part name="parameters" element="tns:fn_insertar_detalle_factura_ventaResponse"/>
</message>
<message name="fn_modificar_detalle_factura_venta">
<part name="parameters" element="tns:fn_modificar_detalle_factura_venta"/>
</message>
<message name="fn_modificar_detalle_factura_ventaResponse">
<part name="parameters" element="tns:fn_modificar_detalle_factura_ventaResponse"/>
</message>
<message name="fn_borrar_detalle_factura">
<part name="parameters" element="tns:fn_borrar_detalle_factura"/>
</message>
<message name="fn_borrar_detalle_facturaResponse">
<part name="parameters" element="tns:fn_borrar_detalle_facturaResponse"/>
</message>
<portType name="SRV_DETALLEFACTURAVENTA">
<operation name="fn_insertar_detalle_factura_venta">
<input wsam:Action="http://Service.soapsoft.com/SRV_DETALLEFACTURAVENTA/fn_insertar_detalle_factura_ventaRequest" message="tns:fn_insertar_detalle_factura_venta"/>
<output wsam:Action="http://Service.soapsoft.com/SRV_DETALLEFACTURAVENTA/fn_insertar_detalle_factura_ventaResponse" message="tns:fn_insertar_detalle_factura_ventaResponse"/>
</operation>
<operation name="fn_modificar_detalle_factura_venta">
<input wsam:Action="http://Service.soapsoft.com/SRV_DETALLEFACTURAVENTA/fn_modificar_detalle_factura_ventaRequest" message="tns:fn_modificar_detalle_factura_venta"/>
<output wsam:Action="http://Service.soapsoft.com/SRV_DETALLEFACTURAVENTA/fn_modificar_detalle_factura_ventaResponse" message="tns:fn_modificar_detalle_factura_ventaResponse"/>
</operation>
<operation name="fn_borrar_detalle_factura">
<input wsam:Action="http://Service.soapsoft.com/SRV_DETALLEFACTURAVENTA/fn_borrar_detalle_facturaRequest" message="tns:fn_borrar_detalle_factura"/>
<output wsam:Action="http://Service.soapsoft.com/SRV_DETALLEFACTURAVENTA/fn_borrar_detalle_facturaResponse" message="tns:fn_borrar_detalle_facturaResponse"/>
</operation>
</portType>
<binding name="SRV_DETALLEFACTURAVENTAPortBinding" type="tns:SRV_DETALLEFACTURAVENTA">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fn_insertar_detalle_factura_venta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_modificar_detalle_factura_venta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_borrar_detalle_factura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SRV_DETALLEFACTURAVENTA">
<port name="SRV_DETALLEFACTURAVENTAPort" binding="tns:SRV_DETALLEFACTURAVENTAPortBinding">
<soap:address location="http://localhost:8081/SOAPSOFT_S_CLIENTES/SRV_DETALLEFACTURAVENTA"/>
</port>
</service>
</definitions>