src/conf/xml-resources/web-service-references/SRV_DETALLEFACTURAVENTA/wsdl/localhost_8081/SOAPSOFT_S_CLIENTES/SRV_DETALLEFACTURAVENTA.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://Service.soapsoft.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service.soapsoft.com/">

<xs:element name="fn_borrar_detalle_factura" type="tns:fn_borrar_detalle_factura"/>

<xs:element name="fn_borrar_detalle_facturaResponse" type="tns:fn_borrar_detalle_facturaResponse"/>

<xs:element name="fn_insertar_detalle_factura_venta" type="tns:fn_insertar_detalle_factura_venta"/>

<xs:element name="fn_insertar_detalle_factura_ventaResponse" type="tns:fn_insertar_detalle_factura_ventaResponse"/>

<xs:element name="fn_modificar_detalle_factura_venta" type="tns:fn_modificar_detalle_factura_venta"/>

<xs:element name="fn_modificar_detalle_factura_ventaResponse" type="tns:fn_modificar_detalle_factura_ventaResponse"/>

<xs:complexType name="fn_modificar_detalle_factura_venta">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="id_factura_venta" type="xs:int"/>
<xs:element name="id_producto" type="xs:int"/>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="vlor_iva" type="xs:int"/>
<xs:element name="tipo_iva" type="xs:string" minOccurs="0"/>
<xs:element name="vlor_unitario" type="xs:int"/>
<xs:element name="vlor_total" type="xs:int"/>
<xs:element name="modificadoPor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_modificar_detalle_factura_ventaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_insertar_detalle_factura_venta">
<xs:sequence>
<xs:element name="id_factura_venta" type="xs:int"/>
<xs:element name="id_producto" type="xs:int"/>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="vlor_iva" type="xs:int"/>
<xs:element name="tipo_iva" type="xs:string" minOccurs="0"/>
<xs:element name="vlor_unitario" type="xs:int"/>
<xs:element name="vlor_total" type="xs:int"/>
<xs:element name="creadoPor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_insertar_detalle_factura_ventaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_borrar_detalle_factura">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_borrar_detalle_facturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>