src/conf/xml-resources/web-service-references/SVR_PRODUCCION/wsdl/localhost_8081/SOAPSOFT_S_PRODUCCION/SVR_PRODUCCION.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://service.soapsoft.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.soapsoft.com/">

<xs:element name="fn_consultar_pr" type="tns:fn_consultar_pr"/>

<xs:element name="fn_consultar_prResponse" type="tns:fn_consultar_prResponse"/>

<xs:element name="fn_insertar_pr" type="tns:fn_insertar_pr"/>

<xs:element name="fn_insertar_prResponse" type="tns:fn_insertar_prResponse"/>

<xs:complexType name="fn_insertar_pr">
<xs:sequence>
<xs:element name="id_dpto_produccion" type="xs:string" minOccurs="0"/>
<xs:element name="creadoPor" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_insertar_prResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_consultar_pr">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fn_consultar_prResponse">
<xs:sequence>
<xs:element name="return" type="tns:tbProduccion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tbProduccion">
<xs:sequence>
<xs:element name="creadoEn" type="xs:dateTime" minOccurs="0"/>
<xs:element name="creadoPor" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="idDptoProduccion" type="xs:string" minOccurs="0"/>
<xs:element name="modificadoEn" type="xs:dateTime" minOccurs="0"/>
<xs:element name="modificadoPor" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>