src/conf/xml-resources/web-service-references/SVR_CLIENTES/wsdl/localhost_8081/SOAPSOFT_S_CLIENTES/SVR_CLIENTES.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.soapsoft.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.soapsoft.com/" name="SVR_CLIENTES">
<types>
<xsd:schema>
<xsd:import namespace="http://Service.soapsoft.com/" schemaLocation="http://localhost:8081/SOAPSOFT_S_CLIENTES/SVR_CLIENTES?xsd=1"/>
</xsd:schema>
</types>
<message name="consultar_cliente">
<part name="parameters" element="tns:consultar_cliente"/>
</message>
<message name="consultar_clienteResponse">
<part name="parameters" element="tns:consultar_clienteResponse"/>
</message>
<message name="fn_borrar">
<part name="parameters" element="tns:fn_borrar"/>
</message>
<message name="fn_borrarResponse">
<part name="parameters" element="tns:fn_borrarResponse"/>
</message>
<message name="fn_modificar">
<part name="parameters" element="tns:fn_modificar"/>
</message>
<message name="fn_modificarResponse">
<part name="parameters" element="tns:fn_modificarResponse"/>
</message>
<message name="fn_insertar">
<part name="parameters" element="tns:fn_insertar"/>
</message>
<message name="fn_insertarResponse">
<part name="parameters" element="tns:fn_insertarResponse"/>
</message>
<portType name="SVR_CLIENTES">
<operation name="consultar_cliente">
<input wsam:Action="http://Service.soapsoft.com/SVR_CLIENTES/consultar_clienteRequest" message="tns:consultar_cliente"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_CLIENTES/consultar_clienteResponse" message="tns:consultar_clienteResponse"/>
</operation>
<operation name="fn_borrar">
<input wsam:Action="http://Service.soapsoft.com/SVR_CLIENTES/fn_borrarRequest" message="tns:fn_borrar"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_CLIENTES/fn_borrarResponse" message="tns:fn_borrarResponse"/>
</operation>
<operation name="fn_modificar">
<input wsam:Action="http://Service.soapsoft.com/SVR_CLIENTES/fn_modificarRequest" message="tns:fn_modificar"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_CLIENTES/fn_modificarResponse" message="tns:fn_modificarResponse"/>
</operation>
<operation name="fn_insertar">
<input wsam:Action="http://Service.soapsoft.com/SVR_CLIENTES/fn_insertarRequest" message="tns:fn_insertar"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_CLIENTES/fn_insertarResponse" message="tns:fn_insertarResponse"/>
</operation>
</portType>
<binding name="SVR_CLIENTESPortBinding" type="tns:SVR_CLIENTES">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultar_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_borrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_modificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SVR_CLIENTES">
<port name="SVR_CLIENTESPort" binding="tns:SVR_CLIENTESPortBinding">
<soap:address location="http://localhost:8081/SOAPSOFT_S_CLIENTES/SVR_CLIENTES"/>
</port>
</service>
</definitions>