web/WEB-INF/wsdl/localhost_8081/SOAPSOFT_S_ALMACEN/SVR_UBICACION.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://Service.soapsoft.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service.soapsoft.com/">

<xs:element name="consultar_todos_ubicacion" type="tns:consultar_todos_ubicacion"/>

<xs:element name="consultar_todos_ubicacionResponse" type="tns:consultar_todos_ubicacionResponse"/>

<xs:element name="fn_eliminar_ubicacion" type="tns:fn_eliminar_ubicacion"/>

<xs:element name="fn_eliminar_ubicacionResponse" type="tns:fn_eliminar_ubicacionResponse"/>

<xs:element name="fn_insertar_ubicacion" type="tns:fn_insertar_ubicacion"/>

<xs:element name="fn_insertar_ubicacionResponse" type="tns:fn_insertar_ubicacionResponse"/>

<xs:element name="fn_modificar_ubicacion" type="tns:fn_modificar_ubicacion"/>

<xs:element name="fn_modificar_ubicacionResponse" type="tns:fn_modificar_ubicacionResponse"/>

<xs:complexType name="fn_insertar_ubicacion">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="creadoPor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_insertar_ubicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultar_todos_ubicacion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultar_todos_ubicacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:tbUbicacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tbUbicacion">
<xs:sequence>
<xs:element name="creadoEn" type="xs:dateTime" minOccurs="0"/>
<xs:element name="creadoPor" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="modificadoEn" type="xs:dateTime" minOccurs="0"/>
<xs:element name="modificadoPor" type="xs:string" minOccurs="0"/>
<xs:element name="tbMateriaPrimas" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="tbProductoTerminados" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_eliminar_ubicacion">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_eliminar_ubicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_modificar_ubicacion">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="modificadoPor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_modificar_ubicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>