web/WEB-INF/wsdl/localhost_8081/SOAPSOFT_S_ALMACEN/SVR_UBICACION.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.soapsoft.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.soapsoft.com/" name="SVR_UBICACION">
<types>
<xsd:schema>
<xsd:import namespace="http://Service.soapsoft.com/" schemaLocation="http://localhost:8081/SOAPSOFT_S_ALMACEN/SVR_UBICACION?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="fn_modificar">
<part name="parameters" element="tns:fn_modificar"/>
</message>
<message name="fn_modificarResponse">
<part name="parameters" element="tns:fn_modificarResponse"/>
</message>
<message name="fn_insertar">
<part name="parameters" element="tns:fn_insertar"/>
</message>
<message name="fn_insertarResponse">
<part name="parameters" element="tns:fn_insertarResponse"/>
</message>
<message name="fn_eliminar">
<part name="parameters" element="tns:fn_eliminar"/>
</message>
<message name="fn_eliminarResponse">
<part name="parameters" element="tns:fn_eliminarResponse"/>
</message>
<message name="consultar_todos_ubicacion">
<part name="parameters" element="tns:consultar_todos_ubicacion"/>
</message>
<message name="consultar_todos_ubicacionResponse">
<part name="parameters" element="tns:consultar_todos_ubicacionResponse"/>
</message>
<portType name="SVR_UBICACION">
<operation name="hello">
<input wsam:Action="http://Service.soapsoft.com/SVR_UBICACION/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_UBICACION/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="fn_modificar">
<input wsam:Action="http://Service.soapsoft.com/SVR_UBICACION/fn_modificarRequest" message="tns:fn_modificar"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_UBICACION/fn_modificarResponse" message="tns:fn_modificarResponse"/>
</operation>
<operation name="fn_insertar">
<input wsam:Action="http://Service.soapsoft.com/SVR_UBICACION/fn_insertarRequest" message="tns:fn_insertar"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_UBICACION/fn_insertarResponse" message="tns:fn_insertarResponse"/>
</operation>
<operation name="fn_eliminar">
<input wsam:Action="http://Service.soapsoft.com/SVR_UBICACION/fn_eliminarRequest" message="tns:fn_eliminar"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_UBICACION/fn_eliminarResponse" message="tns:fn_eliminarResponse"/>
</operation>
<operation name="consultar_todos_ubicacion">
<input wsam:Action="http://Service.soapsoft.com/SVR_UBICACION/consultar_todos_ubicacionRequest" message="tns:consultar_todos_ubicacion"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_UBICACION/consultar_todos_ubicacionResponse" message="tns:consultar_todos_ubicacionResponse"/>
</operation>
</portType>
<binding name="SVR_UBICACIONPortBinding" type="tns:SVR_UBICACION">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_modificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultar_todos_ubicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SVR_UBICACION">
<port name="SVR_UBICACIONPort" binding="tns:SVR_UBICACIONPortBinding">
<soap:address location="http://localhost:8081/SOAPSOFT_S_ALMACEN/SVR_UBICACION"/>
</port>
</service>
</definitions>