src/conf/xml-resources/web-service-references/SVR_PRODUCTOTERMINADO/wsdl/localhost_8081/SOAPSOFT_S_ALMACEN/SVR_PRODUCTOTERMINADO.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.soapsoft.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.soapsoft.com/" name="SVR_PRODUCTOTERMINADO">
<types>
<xsd:schema>
<xsd:import namespace="http://Service.soapsoft.com/" schemaLocation="http://localhost:8081/SOAPSOFT_S_ALMACEN/SVR_PRODUCTOTERMINADO?xsd=1"/>
</xsd:schema>
</types>
<message name="fn_insertar_productoterminado">
<part name="parameters" element="tns:fn_insertar_productoterminado"/>
</message>
<message name="fn_insertar_productoterminadoResponse">
<part name="parameters" element="tns:fn_insertar_productoterminadoResponse"/>
</message>
<message name="fn_eliminar_productoterminado">
<part name="parameters" element="tns:fn_eliminar_productoterminado"/>
</message>
<message name="fn_eliminar_productoterminadoResponse">
<part name="parameters" element="tns:fn_eliminar_productoterminadoResponse"/>
</message>
<message name="fn_modificar_productoterminado">
<part name="parameters" element="tns:fn_modificar_productoterminado"/>
</message>
<message name="fn_modificar_productoterminadoResponse">
<part name="parameters" element="tns:fn_modificar_productoterminadoResponse"/>
</message>
<message name="consultar_productos">
<part name="parameters" element="tns:consultar_productos"/>
</message>
<message name="consultar_productosResponse">
<part name="parameters" element="tns:consultar_productosResponse"/>
</message>
<message name="validar_stock_prod_terminado">
<part name="parameters" element="tns:validar_stock_prod_terminado"/>
</message>
<message name="validar_stock_prod_terminadoResponse">
<part name="parameters" element="tns:validar_stock_prod_terminadoResponse"/>
</message>
<message name="modificar_stock_prod_terminado">
<part name="parameters" element="tns:modificar_stock_prod_terminado"/>
</message>
<message name="modificar_stock_prod_terminadoResponse">
<part name="parameters" element="tns:modificar_stock_prod_terminadoResponse"/>
</message>
<message name="modificar_stocksumar_prod_terminado">
<part name="parameters" element="tns:modificar_stocksumar_prod_terminado"/>
</message>
<message name="modificar_stocksumar_prod_terminadoResponse">
<part name="parameters" element="tns:modificar_stocksumar_prod_terminadoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="SVR_PRODUCTOTERMINADO">
<operation name="fn_insertar_productoterminado">
<input wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/fn_insertar_productoterminadoRequest" message="tns:fn_insertar_productoterminado"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/fn_insertar_productoterminadoResponse" message="tns:fn_insertar_productoterminadoResponse"/>
</operation>
<operation name="fn_eliminar_productoterminado">
<input wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/fn_eliminar_productoterminadoRequest" message="tns:fn_eliminar_productoterminado"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/fn_eliminar_productoterminadoResponse" message="tns:fn_eliminar_productoterminadoResponse"/>
</operation>
<operation name="fn_modificar_productoterminado">
<input wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/fn_modificar_productoterminadoRequest" message="tns:fn_modificar_productoterminado"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/fn_modificar_productoterminadoResponse" message="tns:fn_modificar_productoterminadoResponse"/>
</operation>
<operation name="consultar_productos">
<input wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/consultar_productosRequest" message="tns:consultar_productos"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/consultar_productosResponse" message="tns:consultar_productosResponse"/>
</operation>
<operation name="validar_stock_prod_terminado">
<input wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/validar_stock_prod_terminadoRequest" message="tns:validar_stock_prod_terminado"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/validar_stock_prod_terminadoResponse" message="tns:validar_stock_prod_terminadoResponse"/>
</operation>
<operation name="modificar_stock_prod_terminado">
<input wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/modificar_stock_prod_terminadoRequest" message="tns:modificar_stock_prod_terminado"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/modificar_stock_prod_terminadoResponse" message="tns:modificar_stock_prod_terminadoResponse"/>
</operation>
<operation name="modificar_stocksumar_prod_terminado">
<input wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/modificar_stocksumar_prod_terminadoRequest" message="tns:modificar_stocksumar_prod_terminado"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/modificar_stocksumar_prod_terminadoResponse" message="tns:modificar_stocksumar_prod_terminadoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_PRODUCTOTERMINADO/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="SVR_PRODUCTOTERMINADOPortBinding" type="tns:SVR_PRODUCTOTERMINADO">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fn_insertar_productoterminado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_eliminar_productoterminado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_modificar_productoterminado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultar_productos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validar_stock_prod_terminado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificar_stock_prod_terminado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificar_stocksumar_prod_terminado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SVR_PRODUCTOTERMINADO">
<port name="SVR_PRODUCTOTERMINADOPort" binding="tns:SVR_PRODUCTOTERMINADOPortBinding">
<soap:address location="http://localhost:8081/SOAPSOFT_S_ALMACEN/SVR_PRODUCTOTERMINADO"/>
</port>
</service>
</definitions>