web/WEB-INF/wsdl/localhost_8081/SOAPSOFT_S_PRODUCCION/SVR_PRODUCCION.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://service.soapsoft.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.soapsoft.com/">

<xs:element name="fn_insertar" type="tns:fn_insertar"/>

<xs:element name="fn_insertarResponse" type="tns:fn_insertarResponse"/>

<xs:complexType name="fn_insertar">
<xs:sequence>
<xs:element name="id_dpto_produccion" type="xs:string" minOccurs="0"/>
<xs:element name="creadoPor" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fn_insertarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>