web/WEB-INF/wsdl/localhost_8081/SOAPSOFT_S_CLIENTES/SVR_FACTURAVENTA.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.soapsoft.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.soapsoft.com/" name="SVR_FACTURAVENTA">
<types>
<xsd:schema>
<xsd:import namespace="http://Service.soapsoft.com/" schemaLocation="http://localhost:8081/SOAPSOFT_S_CLIENTES/SVR_FACTURAVENTA?xsd=1"/>
</xsd:schema>
</types>
<message name="fn_borrar_factura_venta">
<part name="parameters" element="tns:fn_borrar_factura_venta"/>
</message>
<message name="fn_borrar_factura_ventaResponse">
<part name="parameters" element="tns:fn_borrar_factura_ventaResponse"/>
</message>
<message name="fn_insertar_factura_venta">
<part name="parameters" element="tns:fn_insertar_factura_venta"/>
</message>
<message name="fn_insertar_factura_ventaResponse">
<part name="parameters" element="tns:fn_insertar_factura_ventaResponse"/>
</message>
<message name="fn_modificar_factura_venta">
<part name="parameters" element="tns:fn_modificar_factura_venta"/>
</message>
<message name="fn_modificar_factura_ventaResponse">
<part name="parameters" element="tns:fn_modificar_factura_ventaResponse"/>
</message>
<portType name="SVR_FACTURAVENTA">
<operation name="fn_borrar_factura_venta">
<input wsam:Action="http://Service.soapsoft.com/SVR_FACTURAVENTA/fn_borrar_factura_ventaRequest" message="tns:fn_borrar_factura_venta"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_FACTURAVENTA/fn_borrar_factura_ventaResponse" message="tns:fn_borrar_factura_ventaResponse"/>
</operation>
<operation name="fn_insertar_factura_venta">
<input wsam:Action="http://Service.soapsoft.com/SVR_FACTURAVENTA/fn_insertar_factura_ventaRequest" message="tns:fn_insertar_factura_venta"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_FACTURAVENTA/fn_insertar_factura_ventaResponse" message="tns:fn_insertar_factura_ventaResponse"/>
</operation>
<operation name="fn_modificar_factura_venta">
<input wsam:Action="http://Service.soapsoft.com/SVR_FACTURAVENTA/fn_modificar_factura_ventaRequest" message="tns:fn_modificar_factura_venta"/>
<output wsam:Action="http://Service.soapsoft.com/SVR_FACTURAVENTA/fn_modificar_factura_ventaResponse" message="tns:fn_modificar_factura_ventaResponse"/>
</operation>
</portType>
<binding name="SVR_FACTURAVENTAPortBinding" type="tns:SVR_FACTURAVENTA">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fn_borrar_factura_venta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_insertar_factura_venta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fn_modificar_factura_venta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SVR_FACTURAVENTA">
<port name="SVR_FACTURAVENTAPort" binding="tns:SVR_FACTURAVENTAPortBinding">
<soap:address location="http://localhost:8081/SOAPSOFT_S_CLIENTES/SVR_FACTURAVENTA"/>
</port>
</service>
</definitions>